<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114.png">

  {% include head-custom.html %}
</head>



<body>
  <section id="intro">
<!--    <h1 id="intro-sub">Hi, I’m Bjarki. I’m a product-focused engineer with a research background in theoretical computer science.</h1>-->
    <img src="/assets/img/bjarki-main.jpeg" alt="A recent photo of me" id="intro-img">
    <h1 id="intro-sub">Hi, I'm Bjarki Holm.</h1>

  </section>
  <section class="body-text">
    {{ content }}
  </section>
</body>
</html>
